body {margin:0;}

* {box-sizing: border-box}


h2 {color : red;}
.navbar {
  overflow: auto;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
    box-shadow:0px -1px 1px rgb(240,240,240);
}

.navbar a {
  float: left;
  width: 20%;
  color: black;
  text-align: center;

  
  text-decoration: none;
  font-size: 12px;
  height:8%;    
   
}

.navbar i {
    font-size:20px;
    padding-top: 10px;
}

.add_cercle {
    font-size: 50px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


.main {
    font-weight: bold;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 20px;
    height: 2600px;
}

#screenFiller {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: darkorchid;
    height:50px;
    text-align: center;
    padding: 3px;
    font-weight: bold;
    font-size: 30px;
    color:white;
    z-index: 1;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
 -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  
  .card {
    display: inline-block;
  }
}

.card1 {

  width: 210px;
  height: 150px;
  
    display: inline-block;
}

.sous-titre {
    font-size:15px;
    color:darkgray;
}

.card {

  width: 200px;
  height: 130px;

}

